<a class="btn btn-success btn-default" href='/admin/podcast/add'>Add Podcast</a>
<br />
{{#if podcasts}} 
  <h3> Podcast List</h3>
  <table class="table table-bordered">
    <tr> 
      <th>Id</th> 
      <th>Name</th> 
      <th>Category</th>
      <th>Cover</th>
      <th>Featured</th>  
      <th>Edit</th> 
    </tr> 
    {{#each podcasts}}
      <tr>
       <td>{{_id}}</td> 
       <td>{{name}}</td>
       <td>{{category.name}}</td>
       <td>{{cover}}</td>
       <td>{{featured}}</td>
       <td><a class="btn btn-primary btn-default" href='/admin/podcast/edit/{{_id}}'>Edit</a></td> 
      </tr> 
    {{/each}}
  </table>
{{else}}
  <div>
    <h4>No Podcasts Availbale.</h>
  </div>
{{/if}}